.item_container {
  width: 80%;
  margin: auto;
}
.item_content {
  background: rgba(248, 249, 250, 1);
}
.item_content {
  padding: 3rem 2rem 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}
.item_content span {
  font-size: 1.5rem;
}
.item_content p {
  text-align: center;
}
.item_content i {
  font-size: 1.5rem;
  padding-top: 15px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
  position: absolute;
  top: -30px;
}
